<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Crud</title>
    <link rel="stylesheet" href="style">
</head>

<body>
    <div id="top">
        <a href="/"><h1 > CRUD Node.js</h1></a>
    </div>

    <nav>
    <ul class="menu">
		<li><a href="insert" title="Inserir dados">Inserir</a></li>
		<li><a href="read" title="Consultar dados">Consultar</a></li>
    </ul>
</nav><br><br>
    {{{body}}}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="javascript"></script>
</body>

</html>