<form name="form1" action="controllerForm" method="post">
    <input type="text" name="name" id="id" placeholder=" Id "><br>
    <input type="text" name="name" id="name" placeholder=" Nome "><br>
    <input type="text" name="age" id="age" placeholder=" Idade "><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Adicionar"><br>
</form>